.dub
dub_
docs.json
__dummy.html
docs/
/calcool
calcool.so
calcool.dylib
calcool.dll
calcool.a
calcool.lib
libcalcool.*
calcool-test-*
*-test-*
*.exe
*.o
*.obj
*.lst
*.gdb*
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
